.flex-container {
    display: flex;
    flex-direction: column;
    width: auto%;
}

#conceptsCovered {
    width: auto;
}

#submit {
    width: 12em;
}

.filterArea {
    display: flex;
}

.filterBox {
    width: 40%;
    margin: 1em;
}